<!DOCTYPE html>
<html>

<head>
    <title>
        Oily Face Care
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Oily Face Care</h1>
    <div>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/jpeg, image/png">
            <div>
                <button type="submit">Button</button>
                <a href="/">Reset</a>
            </div>
        </form>        
    </div>
    <div>
        <p>{{prediction}}</p>
        <!-- {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Spam</h2>
        {% else %}
        <h2 style="color: green">Not Spam</h2>
        {% endif %}
        {% endif %} -->
    </div>
</body>

</html>

